.form-container {
    max-width: 800px;
    margin: 100px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .left-column,
  .right-column {
    width: 45%; /* Adjust the width as needed */
  }
  
  .form-group {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    color:  white;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-group textarea {
    resize: none;
    height: 100px;
  }
  
  .submit-button {
    justify-self: center;
    width: 100px;
    height: 135px;
    background-color: #2cbe64;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease-in-out;
  }
  
  .submit-button:hover {
    background-color: #047730;
  }
  