body {
    background-color: #282c34;
  }
  
  .navbar {
    background-color: #333;
    padding: 1rem 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .nav-menu {
    list-style-type: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 1rem;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    background-color: #555;
    border-radius: 5px;
  }
  