/* NavBar.css */
.navbar {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}

.navbar.open {
  position: fixed;
  height: 100vh;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  
}

.navbar-logo {
  color: #fff;
  padding-top: 4rem;
  font-size: 2.5rem;
  text-decoration: none;
}

.menu-open-icon {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  border: none;
  color: #fff;
  font-size:3rem;
  cursor: pointer;
  padding: 10px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  height: 100vh;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.nav-links:hover {
  color: #007bff;
}

